.diagram {
  width: 342px;
  margin: 34px auto 25px;
  padding: 31px 0 26px;
  background-color: #161616;
  background-image: url("./../../assets/facture-1.png");
  border-radius: 30px;
  .panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    div:nth-child(1) {
      width: 100px;
      height: 100px;
      background-color: #03fdb3;
      border-radius: 100px;
    }
    div:nth-child(2) {
      width: 55px;
      height: 55px;
      background-color: #03eefd;
      border-radius: 100px;
    }
    div:nth-child(3) {
      width: 41px;
      height: 41px;
      background-color: #0385fd;
      border-radius: 100px;
    }
    div:nth-child(4) {
      width: 33px;
      height: 33px;
      background-color: #a0a0a0;
      border-radius: 100px;
    }
  }
  .list {
    margin-top: 43px;
    color: #fff;
    font-size: 15px;
    table {
      width: 100%;
    }
    .mark {
      width: 18px;
      div {
        border-radius: 100px;
        width: 18px;
        height: 18px;
        background-color: #fff;
      }
    }
    tr {
      height: 46px;
      width: 100%;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #014c3643;
      }
    }
    tr:nth-child(1) .mark div {
      background-color: #03fdb3;
    }
    tr:nth-child(2) .mark div {
      background-color: #03eefd;
    }
    tr:nth-child(3) .mark div {
      background-color: #0385fd;
    }
    tr:nth-child(4) .mark div {
      background-color: #a0a0a0;
    }

    .count {
      width: 20px;
      font-family: "Neue", sans-serif;
      line-height: 15.3px;
      font-weight: 733;
      vertical-align: middle;
      padding: 4px 18px 0px 12px;
    }
    .item {
      line-height: 17px;
      padding-top: 2px;
    }
  }
}
