.container {
  color: #ffffff;
  border-radius: 19px;
  background: url("../../../assets/img/hackathon-details-card.png") no-repeat,
    #111;
  overflow: hidden;
  &__body {
    padding: 16px 20px 0px;
  }
  .prize_pool {
    margin-bottom: 20px;
    &__label {
      color: #e6e6e6;
      font-family: "Raleway";
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 160% */
      margin-bottom: 10px;
    }
    &__price {
      color: #fff;
      font-family: "Neue";
      font-size: 25px;
      font-style: normal;
      font-weight: 733;
      line-height: 24px; /* 96% */
    }
  }
  .time_location {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-bottom: 27px;
    &__time,
    &__location {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    &__time {
      .time_location__icon {
        img {
          height: 14px;
        }
      }
    }
    &__location {
      .time_location__icon {
        img {
          height: 15px;
        }
      }
    }
    &__icon {
      display: inline-block;
    }
    &__text {
      display: inline-block;
      color: #fff;
      font-family: Raleway;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 160% */
    }
  }
  .topics {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 34px;
    &__label {
      color: #fff;
      font-family: Roboto;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 160% */
    }
    &__topics {
      display: flex;
      gap: 7px;
    }
    &__topics {
      display: flex;
      flex-wrap: wrap; /* Добавленное свойство */
      gap: 7px;
      justify-content: center;
      max-width: 100%; /* Установите максимальную ширину, чтобы элементы могли переноситься */
    }
    &__topic {
      background-color: #f0f0f0;
      padding: 2px 7px;
      border-radius: 5px;
      color: #141414;
      font-family: "Neue";
      font-size: 11px;
      font-style: normal;
      font-weight: 650;
      line-height: 16px; /* 145.455% */
      letter-spacing: 0.11px;
      flex: 0 0 auto; /* Обеспечивает перенос элементов */
    }
  }
  .button {
    margin: 0 11px 30px;
  }
}
