.card {
  color: #fff;
  font-family: "Neue", sans-serif;

  margin-bottom: 33px;
  &__body,
  &__actions {
    background-color: #1f2021;
    border-radius: 16px;
    a {
      width: 100%;
    }
  }
  &__body {
    display: flex;
    padding: 15px 15px 20px 11px;
    gap: 12px;
  }
  &__image {
    border-radius: 10px;
    overflow: hidden;
    min-width: 88px;
    width: 88px;
    min-height: 88px;
    height: 88px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-family: Raleway;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 150% */
  }
  &__title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 650;
  }

  &__actions {
    padding: 7px 17px 7px;
    display: flex;
    justify-content: space-between;
  }
  &__button {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background-color: #03fdb3;
    width: 100%;
    padding: 8px;
    text-align: center;
    border-radius: 18px;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:focus {
      background-color: #fff;
      transition: all 0.3s ease;
    }
  }
}
