.container {
  width: 100%;
  background: url("../../assets/facture-3.png");
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #fff;
  padding: 43px 0;
  h2 {
    font-family: "Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 29px;
  }
}
