.textField {
  height: 165px;
  width: 100%;
  border: 1px solid #262829;
  border-radius: 10px;
  textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    border: none;
    display: block;
    color: #f9f9f9;
    outline: none;
    font-size: 15px;
    line-height: 17px;
    padding: 10px 20px;
    resize: none;
  }
}
