.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  list-style: none;
  &_item {
    background-color: #1f2021;
    padding: 10px 10px 8px 10px;
    border-radius: 10px;
    font-weight: 650;
    font-size: 13px;
    font-family: "Neue", sans-serif;
    transition: all 0.2s ease;
    color: #fff;

    line-height: 15px;
    letter-spacing: 0.13px;
    &.active {
      background-color: #03fdb3;
      color: #000;
    }
  }
  &__spoilerButton {
    position: relative;
    padding: 10px 25px 8px 10px;
    &::after,
    &::before {
      content: "";
      position: absolute;
      right: 12px;
      top: 15px;
      width: 8px;
      height: 1px;
      background-color: #fff;
    }
    &::before {
      transform: rotate(52deg);
    }
    &::after {
      right: 7px;
      transform: rotate(-52deg);
    }
  }
  &__spoiler {
    position: absolute;
    top: 45px;
    left: 0;
    width: 200px;
    background-color: #1f2021;
    border-radius: 10px;
    padding: 20px;
    display: none;
    &._active {
      display: block;
    }
  }
}
