.buttonWrapper {
  display: flex;

  svg {
    display: none;
  }
  * {
    color: #000;
    font-family: "Neue Kaine" !important;
    font-size: 10px;
    font-style: normal;
    font-weight: 733;
    line-height: 15px; /* 150% */
    letter-spacing: 0.1px;
    padding: 0;
  }
  button {
    padding: 0;
    max-height: 30px;
  }
}

.button {
  margin-left: auto;
}
