.wrapper {
  padding: 30px 0 0;
}
.title {
  color: #fff9f9;
  font-family: "Neue";
  font-size: 30px;
  font-style: normal;
  font-weight: 733;
  line-height: normal;
  margin: 15px 0 21px;
  color: #fff;
}
.card {
  margin-bottom: 49px;
}
.details {
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;

  background: url("../../assets/img/bg-profile.png"), #272525;
  padding: 24px 20px 120px;
  .spoiler_toggle {
    margin-bottom: 13px;
  }
  &__text {
    padding: 25px;
    border-radius: 19px;
    background-color: #1d1d1d;
    color: #fff;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.856%; /* 14.263px */
  }
}
.details__text {
  p {
    margin-bottom: 20px;
  }
}
