.wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("./../../../assets/bg-1.png");
  background-repeat: repeat;
  padding-bottom: 114px;
}

.title {
  color: #8c8b8b;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 18px;
}
