.container {
  padding-top: 32px;
  border-radius: 35px;
  background-color: #1d1d1d;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 41px;

  .profile_img {
    width: 129px;
    height: 129px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 16px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .name {
    color: #fff;
    font-family: "Neue";
    font-size: 15px;
    font-style: normal;
    font-weight: 650;
    line-height: 24px; /* 160% */
    margin-bottom: 9px;
  }
  .proffession {
    color: #fff;
    font-family: "Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 650;
    line-height: 15px; /* 75% */
    margin-bottom: 38px;
  }
  .actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .action {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .action__img {
      border: 1px solid #fff;
      border-radius: 100%;
      width: 87px;
      height: 87px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 19px;
    }
    .action__body {
      color: #b6b6b6;
      font-family: "Neue";
      font-size: 13px;
      font-style: normal;
      font-weight: 650;
      line-height: 24px; /* 184.615% */
    }
  }
}
.body {
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;

  background: url("../../assets/img/bg-profile.png"), #272525;
  padding: 24px 20px 120px;
  .spoiler_toggle {
    margin-bottom: 13px;
  }
  &__text {
    padding: 25px;
    border-radius: 19px;
    background-color: #1d1d1d;
    color: #fff;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 118.856%; /* 14.263px */
  }
  .text_block {
    background: #1f2021;
    color: #fff;
    padding: 9px 12px 14px;
    border-radius: 14px;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 15px;
    h3 {
      color: #fff;
      font-family: "Neue";
      font-size: 15px;
      font-style: normal;
      font-weight: 650;
      line-height: 24px; /* 160% */
    }
    ul {
      padding-left: 20px;
    }
  }
}
